<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.pulsefill.invite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pulsefill</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>location</string>
	</array>
	<key>PulseFillAPIBaseURL</key>
	<string>$(PULSEFILL_API_BASE_URL)</string>
	<key>PulseFillSupabaseURL</key>
	<string>$(PULSEFILL_SUPABASE_URL)</string>
	<key>PulseFillSupabaseAnonKey</key>
	<string>$(PULSEFILL_SUPABASE_ANON_KEY)</string>
	<key>PulseFillTier</key>
	<string>$(PULSEFILL_TIER)</string>
	<key>PulseFillSourceRevision</key>
	<string>$(PULSEFILL_SOURCE_REVISION)</string>
</dict>
</plist>
